customer-api/src/main/mule/customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="7c1a8974-998a-449e-9e52-d90b02f55bd3">
		<http:listener-connection host="0.0.0.0"
			port="8082" />
	</http:listener-config>
	<http:request-config
		name="HTTP_Request_OrderAPI_Configuration"
		doc:name="HTTP Request configuration"
		doc:id="b2915e6b-5564-4dcd-86d7-0e67185231aa" basePath="/orders">
		<http:request-connection host="localhost"
			port="8081" usePersistentConnections="false" />
	</http:request-config>
	<flow name="getAllOrdersAPI"
		doc:id="bcb9b2c5-2113-473a-bfa8-3c979214b1eb">
		<http:listener doc:name="Listener"
			doc:id="f8b1fc74-a023-4372-90cd-3f6236685c81"
			config-ref="HTTP_Listener_config" path="/customer/orders/get" />
		<http:request method="GET" doc:name="Request"
			doc:id="ef874b74-2a26-43ef-88c1-1b2160d3babc"
			config-ref="HTTP_Request_OrderAPI_Configuration" path="/get"
			sendCorrelationId="ALWAYS">
			<reconnect />
			<http:headers><![CDATA[#[output application/java
---
{
	"Key" : "Value"
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"Product" : "Product"
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	"OrderId" : "1234"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger"
			doc:id="9e2268f5-53ba-480c-9266-e93351c5e07c"
			message="#[correlationId]" />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="c08cb8ad-54ca-4abc-a95e-a36aeba031be">
				<logger level="INFO" doc:name="Logger"
					doc:id="63cae109-dcdb-4a61-aea6-39e383cb450b"
					message="Not able to connect" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="createOrdersAPI" doc:id="f48f677a-3d68-4b1b-86fd-68a22424132f" >
		<http:listener doc:name="Listener" doc:id="3a8f92f6-5a0b-405e-90b3-a0f931ecdb20" config-ref="HTTP_Listener_config" path="/customer/orders/create"/>
		<set-payload value='#[%dw 2.0
output application/json
---
{
	"Books" : "5",
	"Pen"   : "10"
}]' doc:name="Order_Request" doc:id="687a2952-19c7-419b-9df4-b73c97f6ae3c" />
		<http:request method="POST" doc:name="Request" doc:id="2b6cb2e8-92bd-433e-a20e-ce14039abd23" config-ref="HTTP_Request_OrderAPI_Configuration" path="/create" responseTimeout="60000"/>
	</flow>
	<flow name="getProductById"
		doc:id="e5090a13-4063-4cfa-a033-6496e5633594">
		<http:listener doc:name="Listener"
			doc:id="1f13306f-09fa-4ac4-ac37-96e27382b31a"
			config-ref="HTTP_Listener_config" path="/customer/orders/product/get" />
		<http:request method="GET" doc:name="Request"
			doc:id="7e71bdd1-281a-40df-ba26-9271eb9bec86"
			config-ref="HTTP_Request_OrderAPI_Configuration" path="/get/{Product}"
			sendCorrelationId="ALWAYS">
			<reconnect />
			<http:headers><![CDATA[#[output application/java
---
{
	"Key" : "Value"
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"Product" : "Product"
}]]]></http:uri-params>
			<http:query-params><![CDATA[#[output application/java
---
{
	"OrderId" : "1234"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger"
			doc:id="ff92fece-a16e-46fe-b087-cd44beb80923"
			message="#[correlationId]" />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="c315d35e-07a7-46af-b4d4-f6a1405773fe">
				<logger level="INFO" doc:name="Logger"
					doc:id="2cbc3800-83b3-40f1-8637-4cc5856919c2"
					message="Not able to connect" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="getOrderByOrderIdAPI" doc:id="7735f93f-bfd5-4202-a008-4fb144a94106" >
		<http:listener doc:name="Listener" doc:id="9f126db5-a45b-46dd-8e7e-22c0132d6ba3" config-ref="HTTP_Listener_config" path="/customer/order/get/{orderId}"/>
		<http:request method="GET" doc:name="Request" doc:id="a770c146-4b86-4de6-bd30-562fd30e7432" config-ref="HTTP_Request_OrderAPI_Configuration" path="/orders/get/{orderId}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"orderId" : attributes.uriParams.orderId
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="404" />
			</http:response-validator>
		</http:request>
	</flow>
</mule>
